.heroImage {
  position: absolute;
}

.animatedHeroSpanHeader {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  position: absolute;
  transform: translate(20%, -400%);
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.7);
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 73%;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
